.header{ background-color: rgba(143, 152, 165, 0.5);
font-size: 2px;}
.dropdown{margin-: 5px;}
 #booking {width:auto;background-color:rgb(13, 161, 13);text-decoration-color:whitesmoke;}
 .col-lg-3 {font-size:3rem ;color-:yellow;}
 .headerin {width:100%; height: 130px;line-height: 130px;color: white;padding-right:6px ;}
 